<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Menu" (click)="back()"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
 
  <ion-item>
    <ion-input label="Username: " type="text" [(ngModel)]="txt_name" readonly></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Email: " type="text" [(ngModel)]="txt_email" readonly></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Email de recuperación: " type="text" [(ngModel)]="txt_emailr" readonly></ion-input>
  </ion-item>
  <ion-item>
    <ion-button (click)="edit()" expand="block" color="primary" shape="round">
      Editar
    </ion-button>
    
  </ion-item>
</ion-content>
