<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <!-- Mostrar todos los botones si el rol es administrador -->
    <ion-button *ngIf="rol === 'administrador'" expand="full" (click)="groupstage()">Fase de Grupos</ion-button>
    <ion-button *ngIf="rol === 'administrador'" expand="full" (click)="groups()">Grupos</ion-button>
    <ion-button *ngIf="rol === 'administrador'" expand="full" (click)="userRol()">Editar Roles</ion-button>
    <ion-button *ngIf="rol === 'administrador'" expand="full" (click)="rules()">Reglas</ion-button>
    <ion-button *ngIf="rol === 'administrador'" expand="full" (click)="busineesIformation()">Informacion Empresa</ion-button>
    <ion-button *ngIf="rol === 'administrador'" expand="full" (click)="matches()">Matches</ion-button>
    <ion-button *ngIf="rol === 'administrador' || rol === 'jugador' || rol === 'estudiante'" expand="full" (click)="matches2()">Partidos</ion-button>
    <ion-button *ngIf="rol === 'jugador'" expand="full">Mis Partidos</ion-button>
    <ion-button *ngIf="rol === 'administrador'" expand="full" (click)="court()">Canchas</ion-button>
    <ion-button *ngIf="rol === 'administrador'" expand="full" (click)="headquarters()">Sedes</ion-button>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menú</ion-title>
      <ion-buttons slot="end">
        <ion-button color="dark" (click)="toggleMenu()">
          <ion-icon slot="icon-only" ios="person-circle-outline" md="person-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="menuVisible" class="menu-content">
    <ion-list>
      <ion-item button (click)="irPerfil()">Perfil</ion-item>
      <ion-item button (click)="irInfoPersonal()">Informacion Personal</ion-item>
      <ion-item button (click)="selectOption('Amigos')">Acceso</ion-item>
      <ion-item button (click)="confirmarCerrarSesion()">Cerrar Sesion</ion-item>
    </ion-list>
  </div>

  <ion-content>
    <ion-item>
      <ion-label>Bienvenido {{rol}}</ion-label>
      <ion-list [inset]="true">
        <ion-item>
          <ion-toggle [(ngModel)]="paletteToggle" (ionChange)="toggleChange($event)">Modo Oscuro</ion-toggle>
        </ion-item>
      </ion-list>
    </ion-item>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button (click)="groupStage()">
            <ion-icon name="grid"></ion-icon>
            <ion-label>Fases de grupo</ion-label>
          </ion-tab-button>
          <ion-tab-button (click)="matches()">
            <ion-icon name="football"></ion-icon>
            <ion-label>Partidos</ion-label>
          </ion-tab-button>
          <ion-tab-button *ngIf="rol === 'lider'" expand="full" (click)="sportGroup()">
            <ion-icon name="people-outline"></ion-icon>
            <ion-label>Mis equipos</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </ion-toolbar>
  </ion-footer>
</div>
