<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="back()" defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ codigo ? 'Editar Empresa' : 'Nueva Empresa' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ codigo ? 'Editar Empresa' : 'Nueva Empresa' }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Campos para ingresar los datos de la empresa -->
  <ion-item>
    <ion-label position="stacked" class="bold-label">Nombre Empresa:</ion-label>
    <ion-input type="text" [(ngModel)]="nombre"></ion-input>
  </ion-item>

   <!-- Campo para mostrar el logo -->
   <ion-item *ngIf="logoUrl" style="text-align: center;">
    <ion-label>Logo:</ion-label>
    <ion-img 
      [src]="codigo ? logooo.replace('localhost', 'http://127.0.0.1') : 
            logoUrl.replace('localhost', 'http://127.0.0.1')"
      style="max-width: 100px; max-height: 100px; display: inline-block;">
    </ion-img>
  </ion-item>

  <!-- Campo para subir el logo -->
  <ion-item>
    <ion-label position="stacked" class="bold-label">Subir Logo:</ion-label>
    <input type="file" (change)="seleccionarLogo($event)" accept=".png, .jpg, .jpeg"/>
  </ion-item>

  <!-- Otros campos -->
  <ion-item *ngIf="imageUrl" style="text-align: center;">
    <ion-label>Imagen:</ion-label>
    <ion-img 
      [src]="codigo ? imagennn.replace('localhost', 'http://127.0.0.1') : 
            imageUrl.replace('localhost', 'http://127.0.0.1')"
      style="max-width: 100px; max-height: 100px; display: inline-block;">
    </ion-img>
  </ion-item>

  <!-- Campo para subir la imagen -->
  <ion-item>
    <ion-label position="stacked" class="bold-label">Subir Imagen:</ion-label>
    <input type="file" (change)="seleccionarImagen($event)" accept=".png, .jpg, .jpeg"/>
  </ion-item>

  <ion-item>
    <ion-label position="stacked" class="bold-label">Misión:</ion-label>
    <ion-textarea [(ngModel)]="mision"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="stacked" class="bold-label">Visión:</ion-label>
    <ion-textarea [(ngModel)]="vision"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="stacked" class="bold-label">Estado:</ion-label>
    <ion-select [(ngModel)]="estado">
      <ion-select-option value="1">Activo</ion-select-option>
      <ion-select-option value="0">Inactivo</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked" class="bold-label">Contacto:</ion-label>
    <ion-input type="text" [(ngModel)]="contacto"  (ionInput)="validatePhoneNumber(contacto)"></ion-input>
  </ion-item>

  <!-- Botón para guardar o actualizar -->
  <ion-button expand="full" (click)="guardar()">
    {{ codigo ? 'Actualizar' : 'Guardar' }}
  </ion-button>
</ion-content>
