<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Matches</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="cancelar()">Menú</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Botones para filtrar por género -->
  <ion-item>
    <ion-button (click)="filtrarPorGenero('Masculino')">Masculino</ion-button>
    <ion-button (click)="filtrarPorGenero('Femenino')">Femenino</ion-button>
    <ion-button (click)="cargarAmbosGeneros()">Cargar Ambos Géneros</ion-button>
  </ion-item>
  
  <ion-item>
    <ion-input [(ngModel)]="buscarGrupo" placeholder="Buscar grupo por nombre"></ion-input>
    <ion-button expand="full" (click)="buscarGrupos()">Buscar</ion-button>
  </ion-item>

  <ion-accordion-group>
    <!-- Recorremos los datos agrupados por grupo -->
    <ion-accordion *ngFor="let match of agrupadosPorGrupo">
      <ion-item slot="header">
        <ion-label>
          <h2>Fecha del encuentro: {{ match.MATC_DATE | date }}</h2>
          <p>Hora: {{ match.MATC_HOUR }}</p>
          <p>Cancha: {{ match.CANC_CODE }}</p>
        </ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list>
          <!-- Mostramos los equipos involucrados en el match -->
          <ion-item>
            <ion-label>
              <h3>Equipo 1: {{ match.equipo1.SPG_TEAM_NAME }} ({{ match.equipo1.SPG_GENDER_TEAM }})</h3>
              <h3>Equipo 2: {{ match.equipo2.SPG_TEAM_NAME }} ({{ match.equipo2.SPG_GENDER_TEAM }})</h3>
            </ion-label>
            <ion-buttons slot="end">
              <ion-button (click)="irEditar(match.MATC_CODE)">
                <ion-icon name="create"></ion-icon>
              </ion-button>
              <ion-button (click)="eliminar(match.MATC_CODE)">
                <ion-icon name="trash"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
        </ion-list>
      </div>
    </ion-accordion>
  </ion-accordion-group>
  
  <!-- Mostrar el botón de agregar solo si se ha seleccionado un género -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="mostrarBotonAgregar">
    <ion-fab-button (click)="agregarMatch()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
