<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="back()"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Información personal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-item>
    <ion-label position="stacked" class="bold-label">Nombre:</ion-label>
    <ion-input type="text" [(ngModel)]="txt_firstName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked" class="bold-label">Apellido:</ion-label>
    <ion-input type="text" [(ngModel)]="txt_lastName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked" class="bold-label">Cédula:</ion-label>
    <ion-input type="number" [(ngModel)]="txt_card"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked" class="bold-label">Teléfono:</ion-label>
    <ion-input type="number" [(ngModel)]="txt_phoneNumber"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked" class="bold-label">Dirección:</ion-label>
    <ion-input type="text" [(ngModel)]="txt_address"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked" class="bold-label">Ciudad:</ion-label>
    <ion-input type="text" [(ngModel)]="txt_city"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked" class="bold-label">Provincia:</ion-label>
    <ion-input type="text" [(ngModel)]="txt_province"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked" class="bold-label">Carrera:</ion-label>
    <ion-input type="text" [(ngModel)]="txt_career"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked" class="bold-label">Semestre:</ion-label>
    <ion-input type="number" [(ngModel)]="txt_semester"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked" class="bold-label">Sede:</ion-label>
    <ion-select [(ngModel)]="sede">
      <ion-select-option *ngFor="let item of businessInfo" [value]="item.BUSH_CODE">
        {{ item.BUIF_NAME }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked" class="bold-label">Edad:</ion-label>
    <ion-input type="number" [(ngModel)]="txt_age"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked" class="bold-label">Género:</ion-label>
    <ion-select [(ngModel)]="txt_gender">
      <ion-select-option value="Masculino">Masculino</ion-select-option>
      <ion-select-option value="Femenino">Femenino</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked" class="bold-label">Peso (kg):</ion-label>
    <ion-input type="number" inputmode="decimal" [(ngModel)]="txt_weight"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked" class="bold-label">Altura (cm):</ion-label>
    <ion-input type="number" inputmode="decimal" [(ngModel)]="txt_height"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked" class="bold-label">Email Institucional:</ion-label>
    <ion-input type="email" [(ngModel)]="txt_institutionalEmail"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked" class="bold-label">Fecha de Nacimiento:</ion-label>
    <ion-datetime display-format="DD/MM/YYYY" [(ngModel)]="txt_dateOfBirth"></ion-datetime>
  </ion-item>
  
  <ion-item>
    <ion-button (click)="saveInfo()" expand="block" color="success" shape="round">
      Guardar
    </ion-button>
    <ion-button (click)="back()" expand="block" color="danger" shape="round">
      Cancelar
    </ion-button>
  </ion-item>
</ion-content>
