<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="../Pages/Secure/home">
      <ion-icon name="home-outline"></ion-icon>
      Inicio
    </ion-tab-button>

    <ion-tab-button tab="../Pages/Secure/group_stage">
      <ion-icon name="people-outline"></ion-icon>
      Grupos
    </ion-tab-button>
    <ion-tab-button tab="../Pages/Secure/vocalia_general">
      <ion-icon name="file-tray-stacked-outline"></ion-icon>
      Historial
    </ion-tab-button>
    <ion-tab-button tab="../Pages/Secure/reports">
      <ion-icon name="document-text-outline"></ion-icon>
      Reportes
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
