<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="back()"></ion-back-button>
    </ion-buttons>
    <ion-title>Información personal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label class="bold-label" position="stacked">Nombre:</ion-label>
    <ion-input type="text" [(ngModel)]="txt_firstName" [readonly]="true"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="bold-label" position="stacked">Apellido:</ion-label>
    <ion-input type="text" [(ngModel)]="txt_lastName" [readonly]="true"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="bold-label" position="stacked">Cédula:</ion-label>
    <ion-input type="number" [(ngModel)]="txt_card" [readonly]="true"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="bold-label" position="stacked">Teléfono:</ion-label>
    <ion-input type="number" [(ngModel)]="txt_phoneNumber" [readonly]="true"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="bold-label" position="stacked">Dirección:</ion-label>
    <ion-input type="text" [(ngModel)]="txt_address" [readonly]="true"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="bold-label" position="stacked">Ciudad:</ion-label>
    <ion-input type="text" [(ngModel)]="txt_city" [readonly]="true"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="bold-label" position="stacked">Provincia:</ion-label>
    <ion-input type="text" [(ngModel)]="txt_province" [readonly]="true"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="bold-label" position="stacked">Carrera:</ion-label>
    <ion-input type="text" [(ngModel)]="txt_career" [readonly]="true"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="bold-label" position="stacked">Semestre:</ion-label>
    <ion-input type="number" [(ngModel)]="txt_semester" [readonly]="true"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="bold-label" position="stacked">Sede:</ion-label>
    <ion-select [(ngModel)]="sede" [disabled]="true">
      <ion-select-option *ngFor="let item of businessInfo" [value]="item.BUSH_CODE">
        {{ item.BUIF_NAME }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label class="bold-label" position="stacked">Edad:</ion-label>
    <ion-input type="number" [(ngModel)]="txt_age" [readonly]="true"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="bold-label" position="stacked">Género:</ion-label>
    <ion-select [(ngModel)]="txt_gender" [disabled]="true">
      <ion-select-option value="Masculino">Masculino</ion-select-option>
      <ion-select-option value="Femenino">Femenino</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label class="bold-label" position="stacked">Peso (kg):</ion-label>
    <ion-input type="number" inputmode="decimal" [(ngModel)]="txt_weight" [readonly]="true"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="bold-label" position="stacked">Altura (cm):</ion-label>
    <ion-input type="number" inputmode="decimal" [(ngModel)]="txt_height" [readonly]="true"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="bold-label" position="stacked">Email Institucional:</ion-label>
    <ion-input type="email" [(ngModel)]="txt_institutionalEmail" [readonly]="true"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="bold-label" position="stacked">Fecha de Nacimiento:</ion-label>
    <ion-datetime display-format="DD/MM/YYYY" [(ngModel)]="txt_dateOfBirth" [readonly]="true"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-button (click)="edit()" expand="block" color="primary" shape="round">
      Editar
    </ion-button>
  </ion-item>

</ion-content>
