<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Group Stage</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="cancelar()">Menú</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Botones para filtrar por género -->
  <ion-item>
    <ion-button (click)="filtrarPorGenero('Masculino')">Masculino</ion-button>
    <ion-button (click)="filtrarPorGenero('Femenino')">Femenino</ion-button>
    <ion-button (click)="cargarAmbosGeneros()">Ambos Géneros</ion-button>
    <ion-button (click)="filtrarFinalistas()">Finalistas</ion-button>
  </ion-item>
  
  <ion-item>
    <ion-input [(ngModel)]="buscarGrupo" placeholder="Buscar grupo por nombre"></ion-input>
    <ion-button expand="full" (click)="buscarGrupos()">Buscar</ion-button>
  </ion-item>
  
  <ion-accordion-group>
    <!-- Recorremos los datos agrupados por grupos -->
    <ion-accordion *ngFor="let grupo of agrupadosPorGrupo">
      <ion-item slot="header">
        <ion-label>
          <h2>{{ grupo.GRUP_NAME }}</h2>
          <p>Equipos en este grupo: {{ grupo.equipos.length }}</p>
        </ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list>
          <!-- Mostramos los equipos relacionados al grupo -->
          <ion-item *ngFor="let equipo of grupo.equipos">
            <ion-label>
              <h3>Equipo: {{ equipo.SPG_TEAM_NAME }}</h3>
              <p>Género del equipo: {{ equipo.SPG_GENDER_TEAM }}</p>
              <p>Líder: {{ equipo.leader_name }}</p>
              <p>Mascota: {{ equipo.mascot_name }}</p>
              <p>Deporte: {{ equipo.sport_name }}</p>
              <p>Creado el: {{ equipo.SPG_CREATION_DATE | date }}</p>
            </ion-label>
            <ion-buttons slot="end">
              <ion-button (click)="irEditar(equipo.GRS_CODE, equipo.SPG_GENDER_TEAM)">
                <ion-icon name="create"></ion-icon>
              </ion-button>
              <ion-button (click)="eliminar(equipo.GRS_CODE)">
                <ion-icon name="trash"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
        </ion-list>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <!-- Mostrar el botón de agregar solo si se ha seleccionado un género -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="mostrarBotonAgregar">
    <ion-fab-button (click)="agregarEquipo()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
