.top-team {
    background-color: rgb(28, 24, 255);
  }
  
  ion-grid {
    border-collapse: collapse;
    width: 100%;
  }
  
  ion-grid ion-row {
    border-bottom: 1px solid #ddd;
  }
  
  ion-grid ion-col {
    padding: 10px;
    text-align: center;
  }
  