<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>Inicio Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="login-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Iniciar Sesión</ion-card-title>
      </ion-card-header>

      <ion-card-content>

        <ion-item>
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input type="email" [(ngModel)]="USAD_EMAIL"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="USAD_PASSWORD"></ion-input>
        </ion-item>

        <ion-button expand="block" color="primary" (click)="login()">Ingresar</ion-button>

        <ion-button expand="block" fill="clear" color="secondary" (click)="passwordRecovery()">
          ¿Olvidaste tu contraseña?
        </ion-button>

        <ion-button expand="block" fill="clear" color="secondary" (click)="createUser()">
          Crear una cuenta
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
