<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="back()" defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="stacked" class="bold-label">Nombre Usuario:</ion-label>
    <ion-input type="text" [(ngModel)]="txt_name"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked" class="bold-label">Correo:</ion-label>
    <ion-input type="text" [(ngModel)]="txt_email" (ionBlur)="validateEmail2(txt_email)"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked" class="bold-label">Email de recuperación:</ion-label>
    <ion-input type="text" [(ngModel)]="txt_emailr" (ionBlur)="validateEmail2(txt_emailr)"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">Contraseña:</ion-label>
    <ion-input 
      [type]="showPassword ? 'text' : 'password'" 
      placeholder="Ingrese su Contraseña:" 
      [(ngModel)]="txt_clave" 
      (focusout)="validatePassword()"></ion-input>
    <ion-icon 
      name="{{ showPassword ? 'eye-off' : 'eye' }}" 
      slot="end" 
      (click)="togglePasswordVisibility()"></ion-icon>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">Ingrese de nuevo Contraseña:</ion-label>
    <ion-input 
      [type]="showPassword ? 'text' : 'password'" 
      placeholder="Ingrese su Contraseña:" 
      [(ngModel)]="txt_vclave" 
      (focusout)="validatePassword()"></ion-input>
    <ion-icon 
      name="{{ showPassword ? 'eye-off' : 'eye' }}" 
      slot="end" 
      (click)="togglePasswordVisibility()"></ion-icon>
  </ion-item>
  
  
  
  <ion-label color="danger">{{mensaje}}</ion-label>
  
  <ion-button (click)="updateUser()" expand="block" color="success" shape="round">
    Guardar
  </ion-button>
</ion-content>
