<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="back()"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="stacked" class="bold-label">Username:</ion-label>
    <ion-input type="text" [(ngModel)]="txt_name"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked" class="bold-label">Email:</ion-label>
    <ion-input type="text" [(ngModel)]="txt_email"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked" class="bold-label">Email de recuperación:</ion-label>
    <ion-input type="text" [(ngModel)]="txt_emailr"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked" class="bold-label">Contraseña:</ion-label>
    <ion-input type="password" [(ngModel)]="txt_clave" (focusout)="vclave()"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked" class="bold-label">Verificar contraseña:</ion-label>
    <ion-input type="password" [(ngModel)]="txt_vclave" (focusout)="vclave()"></ion-input>
  </ion-item>
  
  <ion-label color="danger">{{mensaje}}</ion-label>
  
  <ion-item>
    <ion-button (click)="updateUser()" expand="block" color="success" shape="round">
      Guardar
    </ion-button>
    <ion-button (click)="back()" expand="block" color="danger" shape="round">
      Cancelar
    </ion-button>
  </ion-item>
</ion-content>
