<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Informacion Canchas </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="cancelar()"> Menu </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input
      [(ngModel)]="nombreCanchas"
      placeholder="Buscar Canchas"
    ></ion-input>
    <ion-button expand="full" (click)="buscarCanchas()">Buscar</ion-button>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let cancha of canchas">
      <ion-label>
        <h2>{{cancha.nombre }}</h2>
        <p>{{ cancha.direccion }}</p>
        <p>{{ cancha.estado }}</p>
        <!-- <p>{{ cancha.contacto }}</p>  -->
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="irEditar(cancha.codigo)">
          <ion-icon name="create"></ion-icon>
        </ion-button>

        <ion-button (click)="eliminar(cancha.codigo)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="nuevo()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
