<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input [(ngModel)]="cedula" placeholder="Buscar usuarios"></ion-input>
    <ion-button expand="full" (click)="buscarUsuarios()">Buscar</ion-button>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let usuario of usuarios">
      <ion-label>
        <h2>{{ usuario.nombre }}</h2>
        <p>{{ usuario.email }}</p>
        <p>{{ usuario.rol }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="irEditar(usuario.codigo)">
          <ion-icon name="create" ></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
