<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>change-password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-label>Ingrese su nueva contraseña: </ion-label>
  <ion-item>
    <ion-input type="text" [(ngModel)]="clave" (focusout)="vclave()"></ion-input>
  </ion-item>
  <br>
  <ion-label>Repita su contraseña: </ion-label>
  <ion-item>
    <ion-input type="text" [(ngModel)]="clave2" (focusout)="vclave()"></ion-input>
  </ion-item>
  <ion-label color="danger">{{mensaje}}</ion-label>
  <ion-button (click)="changePassword()" expand="block" fill="clear" shape="round">
    cambiar
  </ion-button>
</ion-content>
