<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="back()"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-label>Ingrese su correo de recuperación: </ion-label>
  <br>
  <br>
  <ion-item>
    <ion-input type="text" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-button (click)="checkEmail()" expand="block" fill="outline" shape="round">
    Verificar
  </ion-button>
</ion-content>
