<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="cancelar()" defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Rol</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">

  <form (ngSubmit)="guardarCambios()">

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="nombre" name="nombre" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" [(ngModel)]="email" name="email" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email de Recuperacion</ion-label>
      <ion-input type="text" [(ngModel)]="emailrecuperacion" name="emailrecuperacion"  (ionBlur)="validateEmail2(emailrecuperacion)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Rol</ion-label>
      <ion-select [(ngModel)]="rol" name="rol" required>
        <ion-select-option value="administrador">administrador</ion-select-option>
        <ion-select-option value="jugador">jugador</ion-select-option>
        <ion-select-option value="estudiante">estudiante</ion-select-option>
        <ion-select-option value="lider">lider</ion-select-option>
      </ion-select>
    </ion-item>
  </form>
  <!-- <ion-item> -->
    <ion-button (click)="guardarCambios()" expand="block" color="primary" shape="round">
      Guardar
    </ion-button>
    <!-- <ion-button (click)="cancelar()" expand="block" color="danger" shape="round">
      Cancelar
    </ion-button> -->
  <!-- </ion-item> -->
</ion-content>
