<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Buscar Equipos</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        Atrás
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <ion-item>
    <ion-input [(ngModel)]="txt_search" placeholder="Ingrese el nombre del equipo"></ion-input>
    <ion-button expand="full" (click)="searchTeams()">Buscar</ion-button>
  </ion-item>

  <ion-list>
    <ion-accordion-group>
      <ion-accordion *ngFor="let team of groupedTeams">
        <ion-item slot="header" (click)="toggleAccordion(team)">
          <ion-label>
            <h2>Nombre: {{ team.nombre }}</h2>
          </ion-label>
          <ion-buttons slot="end">
            <ion-button (click)="addTeam(team.codigo, team.nombre)">
              <ion-icon name="add-circle"></ion-icon>
              Seleccionar
            </ion-button>
          </ion-buttons>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-list *ngIf="team.showDates">
            <ion-item *ngFor="let fecha of team.fechas">
              <ion-label>
                <p>Fecha Disponible: {{ fecha.fecha }}</p>
                <p>Hora Desde: {{ fecha.horaDesde }} - Hora Hasta: {{ fecha.horaHasta }}</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-list>

  <ion-item>
    <ion-button (click)="cancel()" expand="block" color="danger" shape="round">
      Cancelar
    </ion-button>
  </ion-item>
</ion-content>
